<h1>Bruno</h1>

<h3>You should try and hire me, because I'm good.</h3>


<h2>What I've been doing in the past #{Time.now.year - 2013} years</h2>
<small>Yes, the unrendered code is intentional</small>

<h2>SKILLz - they do pay the billz</h2>
<h4>Ruby</h4>
<p>Knowledge and experience using ruby scripts (outside of Rails);</p>
<p>Experienced with Sinatra;</p>
<p>Running ruby scripts to mine and analyse data.</p>

<h4>Ruby on Rails</h4>
<p>Experience with Ruby On Rails</p>
<p>1 year internship;</p>
<p>3 years full-time developer.</p>
<p>Version control with Git;</p>
<p>Test Driven Development using Rspec and Cucumber;</p>
<p>Basic knowledge of application deployment and maintenance on Heroku and Digital Ocean;</p>
<p>Knowledge and experience connecting, authenticating and using multiple API’s.</p>

<h4>Front-end</h4>
<p>AngularJS</p>
<p>HTML / CSS</p>
<p>Javascript</p>
<p>jQuery</p>

<h4>Other Skills</h4>
<p>Test Driven Development and Behaviour Driven Development;</p>
<p>Experience managing B2B clients / managing projects;</p>
<p>SQL knowledge (Postgres, SQLite);</p>
<p>Linux shell and basic DevOps knowledge;</p>
<p>Focused on MVC, CRUD and programming best practices;</p>
<p>Proactive researching and keeping up with the latest tech (RoR, Ruby and others);</p>
<p>Ruby Weekly subscriber.</p>

<h4>Soft Skills</h4>
<p>English: native level;</p>
<p>Good communicator, accepts feedback;</p>
<p>Values clean, readable code;</p>
<p>Experienced with SCRUM and agile development;</p>
<p>Problem solving mindset;</p>
<p>Always eager to learn.</p>


<h2>EXPERIENCE</h2>
<p>Mopiu, Lisbon - Web developer</p>
<p>04/2017 - PRESENT</p>
<p>Digital marketing and web development agency;</p>
<p>Project and client management;</p>
<p>Landing page, website development and data mining with ruby scripts.</p>

<p>EventFuel, Lisbon - Ruby on Rails Developer</p>
<p>01/2014 - 04/2017</p>
<p>Back-end Web development on the platform; Implementation of AngularJS application; Implementation and maintenance of Eventfuel’s API;</p>
<p>Stack: Ruby on Rails, Javascript, HTML, AngularJS.</p>

<p>Seedrs, Lisbon - Ruby on Rails Developer (Internship)</p>
<p>06/2013 - 07/2013</p>
<p>Back-end Web development on the Seedrs platform;</p>
<p>Stack: Ruby on Rails, Javascript, HTML.</p>

<p>GoClapp,  Lisbon - Web Developer (Internship)</p>
<p>06/2012 - 09/2012</p>
<p>Web development of GoClapp platform: a platform for app developers to promote their apps;</p>
<p>Stack: PHP, HTML, Javascript.</p>


<h2>EDUCATION</h2>
<p>ISEL, Lisbon - Bachelors in Electronics and Computers Engineering</p>
<p>2009 - 2012</p>


<h2>PERSONAL PROJECTS</h2>
<p>this website lol</p>


<h2>CODE I WASN'T PAID FOR</h2>
<small>aka opensource</small>

<br><br>
<br><br>

<p>brunocsncoelho@gmail.com || https://www.linkedin.com/in/brunocsncoelho/</p>
<small>Yeah I know, I could have link these</small>



<p>This website was developed w/ https://github.com/hanami/hanami (overkill I know)</p>

<h5>As you may have figured out by now I don't do much front-end lol I can tho</h5>
